/* ===== BOUTONS ===== */

.btn {
    margin-top: 20px;
    padding: 10px 20px;
    border: 1px solid transparent;
    border-image: linear-gradient(90deg, #00f0ff, #ff00ff);
    border-image-slice: 1;
    color: white;
    background: transparent;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    box-shadow:
        0 0 10px #00f0ff,
        0 0 20px #ff00ff;
}

/* ===== CARTES ===== */

.card {
    width: 250px;
    padding: 20px;
}

/* ===== PROJETS ===== */

.projects {
    display: flex;
    gap: 20px;
}

/* ===== SKILLS ===== */

.skill {
    width: 300px;
}

.bar {
    height: 10px;
    background: #222;
}

.progress {
    height: 10px;
    background: linear-gradient(90deg, #00f0ff, #ff00ff);
}