/* ===== PAGE INTRO ===== */

.intro-page {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    overflow: hidden;
}

/* CONTENEUR */
.intro-container {
    position: relative;

    text-align: center;

    z-index: 2;
}

/* TITRE */
.intro-title {
    position: relative;

    display: inline-block;

    font-size: 3em;

    margin: 0;
}

/* PORTFOLIO */
.intro-title span {
    position: absolute;

    right: -40px;
    bottom: -15px;

    font-size: 0.35em;

    color: #ff00ff;

    letter-spacing: 3px;
}

/* BOUTON */
.intro-btn {
    margin-top: 40px;
}