/* ===== PAGE INTRO ===== */

.intro-page {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    overflow: hidden;
}

/* CONTENEUR */
.intro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    position: relative;

    text-align: center;

    z-index: 2;
}

/* TITRE */
.intro-title {
    position: relative;

    display: inline-block;

    font-size: 3em;

    margin: 0;
}

/* PORTFOLIO */
.intro-title span {
    position: absolute;

    right: -40px;
    bottom: -15px;

    font-size: 0.35em;

    color: #ff00ff;

    letter-spacing: 3px;
}

/* BOUTON */
.intro-btn {
    margin-bottom: 10px;
    padding: 10px 20px;
    border: 1px solid transparent;
    border-image: linear-gradient(90deg, #00f0ff, #ff00ff);
    border-image-slice: 1;
    color: white;
    background: transparent;
    cursor: pointer;
    transition: 0.3s;
}