/* ===== STRUCTURE ===== */

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
    background: rgba(0,0,0,0.3);
}

/* Sections */
section {
    padding: 80px 20px;
    text-align: center;
}

.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}